modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "preview"

[[workflows.workflow]]
name = "Run"
author = 38478661

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx vite"

[[workflows.workflow]]
name = "preview"
author = 38478661

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run preview"

[[ports]]
localPort = 4173
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run preview"]
build = ["sh", "-c", "npm run build"]
