.square {
	width: 30%;
	float: left;
	margin: 1.66%;
	background: purple;
	padding-top: 30%;
	border-radius: 15%;
	transition: background 0.4s;
	--webkit-transitions: background 0.6s;
	--moz-transitions: background 0.6s;
}

#container {
	margin: 20px auto; /*centres the divs to the middle of the page*/
	width: 700px;
}

#h1Color	{
	color: white;
	text-align: center;
	background-color: steelblue;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0; /*shaort hand for padding top and bottom*/
}

#gameControls {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

#winDisplay {
	display: inline-block;
	width: 20%;
}

.selected {
	color: white;
	background: steelblue;
}

#rgbDisplay {
	font-size: 200%;
}

body  {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir"
}

p {
	margin-top: -5px;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transitions: all 0.3s;
	--moz-transitions: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}